{{ define "main" }}
<div class="home">
  <div style="display: flex; align-items: baseline">
    <h2 class="post-list-heading">{{ .Site.Params.labels.tagLabel }} <strong>{{ .Data.Term }}</strong></h2>

    <small style="margin-left: 10px">
      {{ with index .Translations 0 }}
      <a
        class="post-info-item"
        href="{{ .Permalink }}"
        title="{{ .Language.LanguageName }}"
        >{{ cond (eq .Lang "en") "View posts in" "Ver posts em" }} {{
        .Language.LanguageName }}</a
      >
      {{ end }}
    </small>
  </div>

  <ul class="post-list">
    {{ range where .Pages "Section" "blog" }}
    <li>
      <span class="post-meta">{{ .Date.Format "Jan 2, 2006" }}</span>
      <h3 class="index-post-title">
        <a class="post-link" href="{{ .Permalink }}">{{ .Title }}</a>
      </h3>
      {{ partial "tags-list.html" . }} {{ if .Site.Params.show_excerpt }}{{
      .Summary }}{{ end }}
    </li>
    {{ end }}
  </ul>

  <p class="rss-subscribe">subscribe <a href="/index.xml">via RSS</a></p>
</div>
{{ end }}
