<ul class="social-media-list">
  <li>
    <a href="https://github.com/{{ .Site.Params.github_username }}"
      ><svg class="svg-icon">
        <use xlink:href="/assets/minima-social-icons.svg#github"></use>
      </svg>
      <span class="username">{{ .Site.Params.github_username }}</span></a
    >
  </li>
  <li>
    <a href="https://twitter.com/{{ .Site.Params.twitter_username }}"
      ><svg class="svg-icon">
        <use xlink:href="/assets/minima-social-icons.svg#twitter"></use>
      </svg>
      <span class="username">{{ .Site.Params.twitter_username }}</span></a
    >
  </li>
</ul>
