{{ define "main" }}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "blogPosting",
    "datePublished": "{{ .Date.Format "2006-01-02T15" }}",

    "dateModified": "{{ if .Params.updated }}{{ .Params.updated }}{{ else }}{{ .Date.Format "2006-01-02T15" }}{{ end }}",

    "name": "{{ .Title }}",

    "headline": "{{ if .Description }}{{ .Description }}{{ else }}{{ .Title }}{{ end }}",

    "author": {
      "@type": "Person",
      "name": "{{ .Site.Title }}"
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ .Site.BaseURL }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ .Site.Title }}"
      
    }
  }
</script>




<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ .Title }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" itemprop="datePublished">
        {{ .Date.Format "January 2, 2006" }}
      </time>
      {{ if .Site.Author }}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ .Site.Author }}</span></span>
      {{ end }}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ .Content }}
  </div>

  {{ if .Site.DisqusShortname }}
    {{ partial "disqus_comments.html" . }}
  {{ end }}

  <a class="u-url" href="{{ .URL | relURL }}" hidden></a>
</article>
{{ end }}
