{{ define "main" }}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "blogPosting",
    "datePublished": "{{ .Date.Format "2006-01-02" }}",
    "dateModified": "{{ (cond (isset .Params "lastmod") .Lastmod .Date).Format "2006-01-02" }}",
    "name": "{{ .Title }}",
    "headline": "{{ cond (isset .Params "description") .Description .Title }}",
    "author": {
      "@type": "Person",
      "name": "{{ .Site.Title }}"
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ .Site.BaseURL }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ .Site.Title }}"
      
    }
  }
</script>




<article class="post h-entry">
  <header class="post-header">
    <h1 class="post-title p-name">{{ .Title }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{ .Date.Format "January 2, 2006" }}
      </time>
      {{ if .Site.Author }}
      • <span><span class="p-author h-card">{{ .Site.Author }}</span></span>
      {{ end }}</p>
  </header>

  <div class="post-content e-content">
    {{ .Content }}
  </div>

  {{ if .Site.DisqusShortname }}
  {{ partial "disqus_comments.html" . }}
  {{ end }}

  <a class="u-url" href="{{ .URL | relURL }}" hidden></a>
</article>
{{ end }}