<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relURL }}">
  <link rel="stylesheet" href="{{ "/assets/molokai.css" | relURL }}">
  <link rel="canonical" href="{{ replace .Permalink "index.html" "" | absURL }}">
  <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ "/feed.xml" | relURL }}">

  {{ $lang := .Params.language | default .Site.LanguageCode }}
  {{ if (isset .Params "alternate") }}
    {{ if eq $lang "en" }}
    <link rel="alternate" href="{{ .Params.alternate | absURL }}" hreflang="pt-br" />
    {{ else if eq $lang "pt-br" }}
    <link rel="alternate" href="{{ .Params.alternate | absURL }}" hreflang="en" />
    {{ end }}
  {{ end }}

  <style>
    .video-responsive{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
    }
    .video-responsive iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
  </style>

  {{ if and (not .Site.BuildDrafts) .Site.GoogleAnalytics }}
  {{ partial "google-analytics.html" . }}
  {{ end }}
</head>
