{{ define "main" }}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "blogPosting",
    "datePublished": "{{ .Date.Format "2006-01-02" }}",
    "dateModified": "{{ (default .Date .Lastmod).Format "2006-01-02" }}",
    "name": "{{ .Title }}",
    "headline": {{ .Param "description" }},
    "author": {
      "@type": "Person",
      "name": "{{ .Site.Title }}"
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ .Site.BaseURL }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ .Site.Title }}"
      
    }
  }
</script>


<article class="post h-entry">
  <header class="post-header">
    <h1 class="post-title p-name">{{ .Title }}</h1>

    <div class="post-meta">
      {{ .Site.Params.labels.postedOn }}
      <time class="dt-published" datetime="{{ .Date.Format "2006-01-02" }}">
        {{ .Date.Format "January 2, 2006" }}
      </time>

      {{ with .Params.lastmod }}
        • {{ $.Site.Params.labels.updatedOn }} 
        <time class="dt-updated" datetime="{{ .Format "2006-01-02" }}">
          {{ .Format "January 2, 2006" }}
        </time>
      {{end}}

      {{ with .Site.Author }}
      • <span class="p-author h-card">{{ . }}</span>
      {{ end }}</div>

    {{ partial "tags-list.html" . }}
  </header>

  <div class="post-content e-content">
    {{ with index .Translations 0 }}
      <p>
        <a class="post-info-item" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
          {{ .Site.Params.labels.readIn }}
        </a>
      </p>
    {{ end }}
    
    {{ .Content }}
  </div>

  {{ if and (.Site.DisqusShortname) (not .Site.IsServer) }}
  {{ partial "disqus_comments.html" . }}
  {{ end }}
</article>
{{ end }}
