// @import "syntax/monokay";
// @import "syntax/autumn";
// @import "syntax/dracula";
// @import "syntax/emacs";
@import "syntax/github";
// @import "syntax/monokaylight";

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #1a1a1a;
  line-height: 1.5;
  background-size: calc(1em * 1.5) calc(1em * 1.5), calc(1em * 0.75) calc(1em * 0.75);

  &#lines:target {
    background-image: linear-gradient(transparent calc(1em * 1.5 - 1px), #8dc1d3 50%),
      linear-gradient(#fff calc(1em * 0.75 - 1px), #faa 50%);
  }
}

.content {
  max-width: 800px;
  margin: auto;
}

p {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.highlight {
  margin: 0;

  pre {
    background-color: transparent;
    margin: 0;
    // font-size: 1rem;
    line-height: 1.5rem;
  }

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

h1 {
  margin: 0 0 1.5rem;
  font-size: 1rem;
}

h2 {
  margin: 0 0 1.5rem;
  font-size: 1rem;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
